* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: yellowgreen;
}
.izgotovlenie{
    height: 100%;
    width: 100%;
    background: yellowgreen;
    padding: 100px;
    border-radius: 10px;
}